:root {
	--left_font_color: white;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Norse Bold";
	src: url(fonts/Norse-Bold.otf);
}

body {
	margin: 0;
	display: flex;
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left_side {
	background: url("images/guillaume-briard-lSXpV8bDeMA-unsplash.jpg");
	background-size: cover;
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 40%);
		height: 140px;
		margin-top: 190px;

		span {
			font-family: "Norse Bold";
			color: var(--left_font_color);
			font-size: 5.5rem;
		}
	}

	.photo_credit {
		margin-bottom: 15px;
		font-size: 0.9rem;
		background: rgba(0, 0, 0, 40%);
		width: fit-content;
		align-self: center;
		color: var(--left_font_color);
		a {
			color: var(--left_font_color);
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	flex: 1.5;

	header {
		flex: 1.2;
		padding: 100px 90px 0 40px;
		font-weight: bold;
	}

	section {
		flex: 1;
	}

	footer {
		flex: 1.1;
	}

	header, footer {
		background: #f9fafb;
	}
}
